version: '3.8'
services:
  vue_ui:
    image: vue
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./:/app
      - /app/node_modules
    networks:
      - my-network
networks:
  my-network:
    driver: bridge